# 모든 파일 무시
*

# 예외: 핵심 클래스만 올리기
!Services/
!Services/AccountService.cs
!Services/CloudStorageMerger.cs
!Services/FIleDownloadManager.cs
!Services/FileService.cs
!Services/FileUploadManager.cs
!Services/GoogleDriveService.cs
!Services/ICloudFileService.cs
!Services/StorageUpdater.cs


# 예외: README, .gitignore
!.gitignore
!README.md